.HV{
    background-color: rgba(45, 45, 99, 0.942);
    color: white;
}

.section1{
    background-color: rgba(0, 13, 255, 0.09);
    color: black;
}

.section2{
    background-color: rgba(255, 0, 212, 0.09);
    color: black;
}

.section3{
    background-color: rgba(111, 255, 0, 0.09);
    color: black;
}

.section4{
    background-color: rgba(255, 235, 205, 0.347);
    color: black;
}

.section5{
    background-color: rgba(255, 0, 234, 0.09);
    color: black;
}

.section6{
    background-color: rgba(0, 191, 255, 0.09);
    color: black;
}

footer{
    background-color: blue;
    color: white;
}

img{
    width: 100%;
}

video{
    width: 100%;
}