body{
    font-family: sans-serif;
    background-image: linear-gradient(to right,rgb(255, 249, 242),rgb(255, 227, 192));
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5625rem;
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
}
nav a{
    color: black;
    text-decoration: none;
    margin: 0.625rem;
    position: relative;
}
nav a::after{
    content: "";
    background-color: rgb(112, 68, 0);
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 1s;
}
nav a:hover::after{
    width: 100%;
}
nav ul li{
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes move{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
} 
.a2{
    animation-delay: 0.3s;
}
.a3{
    animation-delay: 0.6s;
}
.a4{
    animation-delay: 0.9s;
}
.a5{
    animation-delay: 1.2s;
}
nav .card{
    display: flex;
    align-items: center;
}
nav button{
    color: gray;
    border: solid 1px rgb(112, 68, 0);
    border-radius: 25px;
    padding: 0.9375rem;
    background-color: transparent;
    transition: 0.5s;
}

nav button:hover{
    background: rgb(112, 68, 0);
    color: white;
}
nav h1,span{
    color: rgb(112, 68, 0);
    text-shadow: rgb(112, 68, 0) 0px 0px 15px;
    font-style: italic;
}
main{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.img{
    width: 40%;
    animation-name: img;
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
}
@keyframes img{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
} 
.img img{
    width: 70%;
}
.text{
    width: 40%;
}
.text1{
    animation-name: text;
    animation-duration: 2s;
}
@keyframes text{
    0%{
        transform: translateX(20%);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} 
.text button{
    animation-name: butt;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes butt{
    0%{
        transform: translateX(20%);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} 
.text p{
    margin: 15px 0px;
}
.icons{
    display: flex;
    gap: 10px;
    animation-name: text;
    animation-duration: 2s;
}
.icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: solid 3px rgb(112, 68, 0);
    border-radius: 50%;
    transition: 0.5s;
    font-size: 30px;
    color: rgb(112, 68, 0);
}
.icons div:hover{
    background-color: rgb(112, 68, 0);
    transform: scale(1.2);
    color: white;
}
.text button{
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin-top: 15px;
    background-color: rgb(112, 68, 0);
    color: white;
}

.cursor{
    animation: cursor 0.5s infinite;
}
@keyframes cursor{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




@media (max-width: 900px) {
    nav{
        flex-direction: column; 
        position: static;
    }
    nav .card{
        flex-direction: column;
    }
    .card ul{
        margin: 20px 0px;
    }
    main{
        flex-direction: column;
        text-align: center;
    }
    .text,.img{
        width: 100%;
    }
    .icons{
        justify-content: center;
    }
}