body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: #2c3e50;
    background-color: white;
    margin: 0%;
}
a{
    color: black;
    padding: 8px;
    text-decoration: none;
}
nav{
    background-color: white;
    text-align: center;
    padding: 10px ;
    position: sticky;
    top: 0;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.659),rgba(0, 0, 0, 0.489)), url(https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?auto=format&fit=crop&w=1920);
    text-align: center;
    background-position: center ;
    padding: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
h1{
    text-align: center;
}
img{
    width: 100%;
    border-radius: 6px;
}
.About{
    width: 50%;
    margin: 30px auto;
}
.Skills{
    text-align: center;
    background-image:linear-gradient(rgba(255, 255, 255, 0.17),rgba(255, 255, 255, 0.268)), url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&w=1920);
    background-position: center ;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.div1{
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 50%;
    border-radius: 6px;
}
form{
    background-color: rgb(227, 219, 219);
    border: solid 0px ;
    border-radius: 10px;
    padding: 30px;
    margin: 60px auto;
    width: fit-content;
}
*{
    box-sizing: border-box;
}
input,textarea{
    width: 100%;
    padding: 10px;
    border: solid 0px;
    border-radius: 8px;
    
}
textarea{
    resize: vertical;

}
input:focus,textarea:focus{
    outline: solid 2px blue;
}
.submit{
    background-color: rgb(41, 128, 185);
    color: white;
    width: 100%;
}
footer{
    background-color: rgb(44, 62, 80);
    text-align: center;
    padding: 20px;
    color: white;
}