body{
    background-image: linear-gradient(to right,rgb(1, 2, 43),rgb(0, 0, 2));
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    margin: 0;
}
main{
    background-image:linear-gradient(to right,#010324f2,rgba(0, 0, 0, 0.148)), url(https://ca-times.brightspotcdn.com/dims4/default/c1a61d9/2147483647/strip/true/crop/3840x2160+0+0/resize/1200x675!/format/webp/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F03%2F0d%2F44d557194a8db3da6f4536cc2f30%2Favtr-226.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3.125rem;
    height: 25rem;
    width: 90%;
    padding: 1.5625rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    margin: 1.5625rem;
    transition: 0.5s;
}
a:hover{
    border-bottom: solid white 0.0625rem;
}
.text{
    width: 20%;
    margin-top: 50px;
    margin-left: 20px;
}
.text p{
    margin-top: 15px;
    margin-bottom: 5px;
}
.click{
    background-color: white;
    width: fit-content;
    color: black;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
}
.click:hover{
    background-color: rgb(5, 6, 42);
    border: solid white 0.125rem;
    border-radius: 0.3125rem;
    color: white;
}