
body{background-image:linear-gradient(to right, rgb(104, 118, 222),rgb(109, 105, 204));
}
header{
    color: white;
    text-align: center;
    padding: 25px;
}
.div{
    background-image: linear-gradient(to right,orange,green);
    height: 2px;
    width: 50px;
    text-align: center;
}
/* .div::{
    content: "";
    background-image: linear-gradient(to right,orange,green);
} */
h2::before{
    content: ".";
    color: rgb(109, 105, 204);
    font-size: 3em;
    margin-right: 3px;
}
section{
    background-color: rgb(255, 255, 255);
    color: black;
    border: solid 0px;
    border-radius: 7px;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
}
.Decorative,.Icon{
    background-color: rgb(247, 250, 249);
    border-left: solid rgb(109, 105, 204);
    border-radius: 5px;
    margin: 20px auto;
}
.D{
    background-color: white;
    margin-left: 0%;
    width: 50%;
    border: solid 0%;
    border-radius: 6px;
    padding: 25px;
}
.PremiumCard{
    background-image: linear-gradient(to right, rgb(104, 118, 222),rgb(113, 90, 182));
    color: white;
    border: solid 0%;
    border-radius: 12px;
    margin: 20px auto;
}
.iconp{
    color: white;
    width: 50%;
    margin-left: 0%;
}
.iconp1{
    background-color: rgb(213, 237, 218);
    color: black;
    padding: 10px 100px 10px 30px;
    border: solid 0%;
    border-radius: 5px;
    border-left: solid rgb(68, 145, 76);
}
.iconp2{
    background-color: rgb(255, 242, 204);
    color: black;
    padding: 10px 100px 10px 30px;
    border: solid 0%;
    border-radius: 5px;
    border-left: solid rgb(223, 191, 88);
}
.iconp3{
    background-color: rgb(248, 215, 218);
    color: black;
    padding: 10px 100px 10px 30px;
    border: solid 0%;
    border-radius: 5px;
    border-left: solid rgb(161, 46, 55);
}