body{
    background-color: rgb(23, 24, 45);
    color: white;
    padding: 0px 8px;
}
header{
    padding: 15px;
    background-color: rgb(19, 45, 82);
    border: solid 0px;
    border-radius: 15px;
    text-align: center
}
b{
    margin: 45px;
}
main{
    background-color: rgb(19, 45, 82);
    border: solid 0px;
    border-radius: 15px;
    text-align: center;
}
h1{
    padding-top: 20px;
}
img{
    border: solid 0px;
    border-radius: 100px;
    margin: 30px 0px;
}