div{
    background-color: rgba(237, 198, 198, 0.444);
}

.link{
    background-color: rgba(0, 255, 255, 0.316);
}

.img{
    background-color: rgba(127, 255, 212, 0.442);
}

.list{
    background-color: rgba(137, 43, 226, 0.2);
}

.table{
    background-color: rgba(255, 228, 196, 0.445);
}