body{
    background-color: rgb(13, 9, 37);
    color: azure;
}

h1{
    background-color: rgb(100, 197, 9);
    color: azure;
}

div{
    background-color: rgb(3, 3, 54);
}

thead{
    background-color: rgb(31, 129, 47);
}

span{
    color: rgb(13, 182, 7);
}

.img{
    background-color: rgb(121, 7, 7);
}

table{
    width: 100%;
}