header{
    background-image: url(RurqKDM_-_Imgur[1].jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 80px ;
}
body{
    margin: 0;
    background-color: rgb(239, 243, 246);
}
h1{
    margin: 0;
}
button{
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px ;
}
section{
    text-align: center;
    margin: 5px 10px; 
    padding: 25px 50px;
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 25px 50px; 
}