.h1{
    border: solid 10px rgb(255, 0, 0);
    width: fit-content;
    padding: 50px 70px ;
    background-color: rgb(212, 212, 212);
}
.h2{
    width: fit-content;
    background-color: rgb(212, 212, 212);
    border-top: solid 10px rgb(0, 0, 255);
    border-bottom: solid 10px rgb(0, 0, 255);
    border-right: solid 10px rgb(0, 128, 0);
    border-left: solid 10px rgb(0, 128, 0);
    padding: 50px 70px;
}
.h3{
    width: fit-content;
    background-color: rgb(212, 212, 212);
    border-top: dashed 10px rgb(255, 0, 0);
    border-bottom: dashed 10px rgb(0, 0, 255);
    border-right: dashed 10px rgb(0, 128, 0);
    border-left: dashed 10px rgb(255, 255, 0);
    padding: 50px 70px;
}
.s{
    background-color: rgb(238, 238, 238);
    border-left: solid 10px rgb(233, 30, 99);
    margin-bottom: 100px;
    padding: 20px 40px;
}
.t{
    background-color: rgb(238, 238, 238);
    border-left: solid 10px rgb(0, 150, 136);
    padding: 20px 40px;
}