header{
    background-color: rgb(90, 149, 231);
}

span{
    background-color: rgb(246, 106, 129);
    color: white;
}

nav{
    background-color: rgb(90, 149, 231);
}

a{
    color: white;
}

section{
    background-color: lightblue;
}

footer{
    background-color: rgb(90, 149, 231);
}

del{
    background-color: rgb(241, 154, 154);
}

u{
    background-color: aqua;
}

thead{
    background-color: rgb(112, 112, 249);
    color: white;
}