.item{
    background-color: red;
    width: 16%;
    height: 200px;
}
.parent{
    display: flex;
    gap: 10px;
    /* background-color: aqua; */
    justify-content: center;
}

@media (max-width: 600px) {

    .parent{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .item{
        width: 49%;
    }
    .parent{
        flex-wrap: wrap;
    }
}