header{
    background-color: rgb(84, 245, 109);
    color: white;
}

nav{
    background-color: black;
}

a{
    color: white;
}

section{
    background-color: rgba(45, 45, 40, 0.07);
}

form{
    background-color: white;
}

.in{
    background-color: rgb(28, 172, 71);
    color: white;
}

table{
    width: 100%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}